<?xml version="1.0"?>
<!--
/**
 * Plumrocket Inc.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End-user License Agreement
 * that is available through the world-wide-web at this URL:
 * http://wiki.plumrocket.net/wiki/EULA
 * If you are unable to obtain it through the world-wide-web, please
 * send an email to support@plumrocket.com so we can send you a copy immediately.
 *
 * @package     Plumrocket_SizeChart
 * @copyright   Copyright (c) 2015 Plumrocket Inc. (http://www.plumrocket.com)
 * @license     http://wiki.plumrocket.net/wiki/EULA  End-user License Agreement
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="prsizechart" translate="label" type="text" sortOrder="11259138" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Size Chart</label>
            <tab>plumrocket</tab>
            <resource>Plumrocket_SizeChart::config_sizechart</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <attribute type="expanded">1</attribute>
                <field id="version" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Plumrocket\SizeChart\Block\Adminhtml\System\Config\Form\Version</frontend_model>
                </field>
                <field id="enabled" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Extension</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="serial" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <frontend_model>Plumrocket\Base\Block\Adminhtml\System\Config\Form\Serial</frontend_model>
                    <label>Serial Key</label>
                    <hint>SizeChart</hint>
                </field>
            </group>
            <group id="button_settings" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Size Chart Button Settings</label>
            <attribute type="expanded">1</attribute>
                 <field id="label" translate="label comment" type="text" sortOrder="45" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Label</label>
                </field>
                <field id="border_color" translate="label comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Border Color</label>
                    <validate>color{hash:true, required:true}</validate>
                </field>
                <field id="background_color" translate="label comment" type="text" sortOrder="55" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Background Color</label>
                    <validate>color{hash:true, required:true}</validate>
                </field>
                <field id="text_color" translate="label comment" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Text Color</label>
                    <validate>color{hash:true, required:true}</validate>
                </field>
                <field id="icon" translate="label comment" type="image" sortOrder="65" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Icon</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">sizechart/icon</upload_dir>
                    <base_url type="media" scope_info="1">sizechart/icon</base_url>
                    <comment><![CDATA[
                                Allowed file types: jpg, jpeg, gif, png. To make icon display properly - please use <strong>16x16</strong> pixels image.
                            ]]></comment>
                </field>
            </group>
            <group id="additional" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Additional Settings</label>
                <field id="size_attributes" translate="label comment" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Size Attributes</label>
                    <comment><![CDATA[
                     Indicate the attribute code(s) or title of custom option(s) you want to place size chart next to. Example: "size, shoes_size, taille".
                    ]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
