<?xml version="1.0"?>
<!--
/**
 * Plumrocket Inc.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End-user License Agreement
 * that is available through the world-wide-web at this URL:
 * http://wiki.plumrocket.net/wiki/EULA
 * If you are unable to obtain it through the world-wide-web, please
 * send an email to support@plumrocket.com so we can send you a copy immediately.
 *
 * @package     Plumrocket_SizeChart
 * @copyright   Copyright (c) 2016 Plumrocket Inc. (http://www.plumrocket.com)
 * @license     http://wiki.plumrocket.net/wiki/EULA  End-user License Agreement
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <prsizechart>
            <general>
                <serial></serial>
            </general>
            <button_settings>
            	<label>Size chart</label>
            	<border_color>#3399cc</border_color>
            	<background_color>#fffff</background_color>
            	<text_color>#3399cc</text_color>
            </button_settings>
            <additional>
                <size_attributes>size</size_attributes>
            </additional>
        </prsizechart>
    </default>
</config>